{% extends "index.twig" %}
{% block metatags %}
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Search for any type of construction industry jobs, from Labourer to Management level. Choose from 1,000's of available Railway Construction Jobs and begin your new career right now!">
    <meta name="author" content="GetWork">
{% endblock %}
{% block title %}
    <title>Railway Construction Jobs | Railway Construction Management</title>
{% endblock %}
{% block navigation %}
    {% include 'applicant_navigation.twig' %}
{% endblock %}

{% block content %}

<section class="dashboard-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="profile-card">
                        <div class="banner">
                            <img src="../images/building.jpg" alt="Best construction Jobs uk" class="img-responsive">
                        </div>
                        <div class="user-image">
                            <img src="../images/users/profile-avatar.jpg" class="img-responsive img-circle" alt="Construction UK">
                        </div>
                        <div class="card-body">
                            <h3>{{user.first_name|capitalize}} {{user.last_name|capitalize}}</h3>
                            <span class="title">A web Designer</span>
                        </div>
                        <ul class="social-network social-circle onwhite">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin +"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    {% include 'applicant_sidebar.twig' %}
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="heading-inner first-heading">
                        <p class="title">My Resume</p>
                        <a href="javascript:void(0)"><span class="pull-right add-button btn-default" data-toggle="modal" data-target=".add-resume-modal"> Add New Resume</span></a>
                    </div>
                    <div class="resume-list">
                    	<div class="table-responsive">
                            <table class="table  table-striped">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>Sr. #</th>
                                        <th>Resume Title</th>
                                        <th>Download</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>
                                            <h5>Software Engineering</h5></td>
                                        <td><a class="btn btn-primary" href="resume/sampleResume.pdf"> Download </a></td>
                                        <td><a class="btn btn-danger" href=""> Delete </a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>
                                            <h5>Graphic Designing</h5></td>
                                        <td><a class="btn btn-primary" href="resume/sampleResume.pdf"> Download </a></td>
                                        <td><a class="btn btn-danger" href=""> Delete </a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>
                                            <h5>Front end Developer</h5></td>
                                        <td><a class="btn btn-primary" href="resume/sampleResume.pdf"> Download </a></td>
                                        <td><a class="btn btn-danger" href=""> Delete </a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>
                                            <h5>IT Specialist</h5></td>
                                        <td><a class="btn btn-primary" href="resume/sampleResume.pdf"> Download </a></td>
                                        <td><a class="btn btn-danger" href=""> Delete </a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                        <div class="pagination-box clearfix">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>
                                    <a href="#" aria-label="Next"> <span aria-hidden="true">Next</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}