 <div id="spinner">
    <div class="spinner-img"> <img alt="Opportunities Preloader London jobs" src="../../images/loader.gif" />
        <h2>Please Wait.....</h2>
    </div>
</div>
<div class="cstm-loader">
    <div class="spinner-img"> <img alt="Opportunities Preloader Construction" src="../../images/loader.gif" />
    </div>
</div>
<nav id="menu-1" class="mega-menu fa-change-black" data-color=""> 
    <div class="container">
        <section class="menu-list-items"> 
            <ul class="menu-logo">
                <li> <a href="/"> <img src="../../images/getworklogo.png" alt="logo for railway jobs" class="img-responsive"> </a> </li>
            </ul>
            <ul class="menu-links pull-right">
                <li> <a href="/"> Home </a></li>
                <li><a href="javascript:void(0)"> Course <i class="fa fa-angle-down fa-indicator"></i></a> 
                    <ul class="drop-down-multilevel">
                        <li><a href="/home/courses">Find Courses</a></li>
                        <li><a href="/profile/courses">My Courses</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)"> Jobs <i class="fa fa-angle-down fa-indicator"></i></a> 
                    <ul class="drop-down-multilevel">
                        <li><a href="/home/jobs">Find jobs</a></li>
                        <li><a href="/home/categories">Job categories</a></li>
                        <li><a href="/home/companies">All companies</a></li>
                    </ul>
                </li>
                {# <li><a href="javascript:void(0)"> Candidate <i class="fa fa-angle-down fa-indicator"></i></a> 
                    <ul class="drop-down-multilevel">
                        <li><a href="/profile">Candidate Dashboard</a></li>
                    </ul>
                </li> #}
                <li> <a href="/home/contactus"> Contact </a></li>
                <li class="profile-pic hoverTrigger">
    			    <a href="javascript:void(0)"> <img src="/uploads/{{ user.profile_image|default('profile.jpg') }}" alt="user-img" class="img-circle" width="36"><span class="hidden-xs hidden-sm">{{user.first_name}} {{user.last_name}}</span><i class="fa fa-angle-down fa-indicator"></i> <div class="mobileTriggerButton"></div></a>
    			    <ul class="drop-down-multilevel left-side effect-fade" style="transition: all 400ms ease 0s;">
    			        <li><a href="/profile"><i class="fa fa-user"></i> My Profile</a></li>
    			        <li><a href="/profile/inbox"><i class="fa fa-mail-forward"></i> Inbox</a></li>
    			        <li><a href="/profile/settings"><i class="fa fa-gear"></i> Account Setting</a></li>
    			        <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
    			    </ul>
    			</li>
            </ul>
        </section>
    </div>
</nav>
<div class="clearfix"></div>