{% extends "index.twig" %}
{% block metatags %}
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A site solely dedicated to the Construction Industry Getwork.construction. Post Courses to enhance the candidate construction skill with their Profession.">
    <meta name="author" content="GetWork">
{% endblock %}
{% block title %}
    <title>Getwork.construction | Post courses | Courses in construction</title>
{% endblock %}
{% block content %}

<div id="map-contact"></div>
<section class="contact-us light-grey">
                  <div class="contact-top-header col-lg-12 col-md-12 col-sm-12"><h1>Contact Us</h1></div>
				  
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="Heading-title black">
                        
                        <p>Please send any of your query to us we will reach you soon.</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <form action="/home/contactus" method="post" class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Name <span class="required">*</span></label>
                                <input placeholder="" name="name" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Email <span class="required">*</span></label>
                                <input placeholder="" name="email" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Phone <span class="required">*</span></label>
                                <input placeholder="" name="phone" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Subject <span class="required">*</span></label>
                                <input placeholder="" name="subject" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Message <span class="required">*</span></label>
                                <textarea name="message" cols="6" rows="8" placeholder="" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
						 
                            <input type="submit" class="btn btn-default" name="send" value="Send Message" />
							
                        </div>
                    </form>
                </div>
                {# <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact_block">
                        {#<h4>Contact Information</h4>
                        <ul class="personal-info">
                            <li><i class="fa fa-map-marker"></i> 246 Green Lane Road Walsall West Midlands United Kingdom WS2 8HS</li>
                            <li><i class="fa fa-envelope"></i> info@getwork.com</li>
                            <li><i class="fa fa-phone"></i> 01922 725956</li>
                            <li><i class="fa fa-clock-o"></i> Mon - Sat: 9:00am - 5:00pm</li>
                             <li><i class="fa fa-clock-o"></i> Sunday: Closed</li>
                        </ul>#}
                        <ul class="social-network social-circle">
                            <li><a href="https://www.facebook.com/getwork.construction/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/GetWorkconstruc/" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            {# <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li> #}
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
{% if message %}
    <script type="text/javascript">
    setTimeout(function(){
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-top-center",
            "progressBar": true,
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "extendedTimeOut": "0",
            "timeOut": "0",
        }
        toastr.success("{{ message|raw }}");
    },500);
    </script>
{% endif %}
{% endblock %}
{% block footer %}
    {% embed "footer.twig" %}
        {% block customScripts %}
            <script type="text/javascript" src="/js/map.js"></script>
        {% endblock customScripts%}
    {% endembed %}
{% endblock %}