{% extends "index.twig" %}
{% block metatags %}
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GetWork Construction is not responsible for the validity of the Candidate Profile and/ or any information submitted by candidate for construction jobs">
    <meta name="author" content="GetWork">
{% endblock %}
{% block title %}
    <title>Disclaimer - GetWork.construction | Construction jobs in UK</title>
{% endblock %}
{% block content %}
	<section class="contact-us light-grey">
	                    <div class="disclaimer-header"><h1>Disclaimer</h1></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="Heading-title black Disclaimer">
                            
                            <p>
                            	<ul>
                                   
                            		<li><p>(4:1) GetWork Construction is not responsible for the validity of the Candidate Profile and/ or any information submitted by the candidate.</p> </li>
                            		<li><p>(4:2) GetWork Construction is not responsible and cannot guarantee receipt of communications between Employer and Candidate, nor can we guarantee that when received, either party will read or action the communications.</p></li>
                            		<li><p>(4:3) GetWork Construction are not liable or responsible for any third party content or resources such as links to other sites and resources which are provided by third parties posted by other users of the website along with GetWork Construction services, job vacancy advertisements and display advertising on the GetWork Construction website, these third party services are provided for your information only and do not constitute advice, you access them at your own risk.</p></li>
                            		<li><p>(4:4) Unless expressly stated in writing by us or required by law, we give no warranties of any kind in relation to the materials on the website and in the services. </p></li>
                            		<li><p>(4:5) GetWork Construction accept no liability for loss or damage suffered by action or actions taken by you as a result of relying on any information provided on the website and or in the services provided on our website.</p></li>
                            		<li><p>(4:6) GetWork Construction endeavor to provide you with a trouble free visit to our website, however we cannot guarantee that all of the website and services will be fully functional at all times.</p>
                            			<p>GetWork Construction does monitor the website and services and try to fix bugs as quickly as possible, however we do not guarantee that the website and services will run error free and/or free from viruses.</p>
                            		</li>
                            		<li><p>(4:7) Nothing in these General Terms affects any liability which GetWork Construction may have for death or personal injury arising from our negligence, fraud or any other liability which cannot be excluded or limited by law.</p></li>
                              
                            	</ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



























	{% endblock %}