<div class="fixed-footer">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="footer_block"> <a href="index.html" class="f_logo"><img src="/images/footer_logo.png" class="img-responsive" alt="logo construction jobs"></a>
                        <p>A site solely dedicated to the Construction Industry.
                          Our objective is to offer a single platform allowing you to search for any type of construction industry jobs, from Labourer to Management level.
                          We also provide customised searches for Construction Industry Training courses. </p>
                        <div class="social-bar">
                            <ul>
                                <li><a class="fa fa-twitter" href="https://twitter.com/GetWorkconstruc"></a></li>
                                <li><a class="fa fa-facebook" href="https://www.facebook.com/getwork.construction/"></a></li>
                                <li><a class="fa fa-linkedin" href="https://www.linkedin.com/in/getwork/"></a></li> 
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer_block">
                        <h4>About Getwork</h4>
                        <ul class="footer-links">
                         {#    <li> <a href="/">Home</a> </li> #}
                            <li> <a href="/home/aboutus">About Us</a> </li>
                            <li> <a href="/home/privacy">Privacy</a> </li>
                            <li> <a href="/home/contactus">Contact Us</a> </li>
                            <li> <a href="/home/termsnconditions">Terms & Conditions</a> </li>
                            <li> <a href="/home/disclaimer">Disclaimer</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer_block">
                        <h4>Useful Links</h4>
                        <ul class="footer-links">
                         {#    <li> <a href="/">Home</a> </li> #}
                            <li><a href="/home/jobs">Find jobs</a></li>
                            <li><a href="/home/courses">Find Courses</a></li>
                            <li><a href="/home/candidates">Find Candidates</a></li>
                            <li><a href="/home/companies">All companies</a></li>
                            
                        </ul>
                        {# <h4>Contact Information</h4>
                        <ul class="personal-info">
                            <li><i class="fa fa-map-marker"></i> 3rd Floor,Link Arcade Model Town, BBL, USA.</li>
                            <li><i class="fa fa-envelope"></i> Support@domain.com</li>
                            <li><i class="fa fa-phone"></i> (0092)+ 124 45 78 678 </li>
                            <li><i class="fa fa-clock-o"></i> Mon - Sun: 8:00 - 16:00</li>
                        </ul> #}
                    </div>
                </div>
				
				<div class="footer-bottom">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <p>Copyright ©2016  - SSK Business Services Ltd - All rights Reserved. Developed By <a href="http://sskmedia.com"> SSK Media </a></p>
                                <p>Reproduction of material from Getwork without permission is strictly prohibited. </p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs hidden-sm">
                                <ul class="footer-menu">
                                    <li> <a href="#">Jobs in London</a> </li>
                                    <li> <a href="#">Jobs in Hampshire</a> </li>
                                    <li> <a href="#">Jobs in Middlesex</a> </li>
                                    <li> <a href="#">Jobs in Glasgow</a> </li>
                                    <li> <a href="#">Jobs in West Midlands</a> </li>
                                    <li> <a href="#">Jobs in Derbyshire</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				
            </div>
        </div>
    </footer>
</div>

<a href="#" class="scrollup"><i class="fa fa-chevron-up"></i></a>


<!-- JAVASCRIPT JS  --> 
<script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script> 

<!-- BOOTSTRAP CORE JS --> 
<script type="text/javascript" src="/js/bootstrap.min.js"></script> 

<!-- BOOTSTRAP Date Picker JS --> 
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script> 

<!-- JQUERY SELECT --> 
<script type="text/javascript" src="/js/select2.min.js"></script> 

<!-- MEGA MENU --> 
<script type="text/javascript" src="/js/mega_menu.min.js"></script> 

<!-- JQUERY EASING --> 
<script type="text/javascript" src="/js/easing.js"></script> 

<!-- JQUERY COUNTERUP --> 
<script type="text/javascript" src="/js/counterup.js"></script> 

<!-- JQUERY WAYPOINT --> 
<script type="text/javascript" src="/js/waypoints.min.js"></script> 

<!-- JQUERY REVEAL --> 
<script type="text/javascript" src="/js/footer-reveal.min.js"></script> 

<!-- Owl Carousel --> 
<script type="text/javascript" src="/js/owl-carousel.js"></script> 

<!-- TOASTER JS -->
    <script type="text/javascript" src="/js/toastr.min.js"></script>

<!-- CORE JS --> 
{# <script type="text/javascript" src="http://frescoserver.com/getwork/js/custom.js"></script> #}


    
<!-- Custom JS -->
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/profile.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>
<script type="text/javascript" src="/js/jScript.js"></script>

<!-- CK-EDITOR -->
    <script src="http://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
    
<!--Google Places API -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk32DJ4ForjfByGUdpLWsIj9lD_sifN7o&libraries=places&callback=window.common.initAutocomplete"></script>


{% block customScripts %} {% endblock customScripts %}