{% extends "index.twig" %}
{% block metatags %}
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="At Getwork.construction, there are legitimate, Job openings. The world's biggest online Organisation where sagacious construction businesses & experts go to work!">
    <meta name="author" content="GetWork">
{% endblock %}
{% block title %}
    <title>Online Get Work of Construction in London - Getwork.construction</title>
{% endblock %}
{% block content %}

<section class="login-page light-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="login-container">
                    <form action="/login" method="post">
                        <div class="loginbox">                            
                            {# <div class="loginbox-title">sign in using social accounts</div>
                            <ul class="social-network social-circle onwhite">
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="icoLinkedin" title="Linkedin +"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <div class="loginbox-or">
                                <div class="or-line"></div>
                                <div class="or">OR</div>
                            </div> #}
                            <div class="loginbox-title">Sign In</div>
                            <div class="login-error"><p>{{ login_error|raw }}</p></div>
                            <div class="form-group">
                                <label>Email address <span class="required"></span></label>
                                <input placeholder="" class="form-control" value="{{ c_email }}" name="email" type="email">
                            </div>
                            <div class="form-group">
                                <label>Password <span class="required">*</span></label>
                                <input placeholder="" class="form-control" value="{{ c_password }}" name="password" type="password">
                            </div>
                            <div class="loginbox-forgot">
                                <input name="remember" type="checkbox"> Remember me.
                            </div>
                            <div class="loginbox-forgot">
                                <a href="/login/forgotpassword">Forgotten Password?</a>
                            </div>
                            <div class="loginbox-submit">
                                <input class="btn btn-default btn-block" value="Login" name="login" type="submit">
                            </div>
                            <div class="loginbox-signup">
                                Don't have an account ?<a href="/register"> Register now</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}