<div id="spinner">
    <div class="spinner-img"> <img alt="Loading..." src="../../images/loader.gif" />
        <h2>Please Wait.....</h2>
    </div>
</div>
<div class="cstm-loader">
    <div class="spinner-img"> <img alt="Loading..." src="../../images/loader.gif" />
    </div>
</div>

<div class="top-header">
    <div class="container">
    {# <div id="top_menu_email">Write to us&nbsp;&nbsp;info@getwork.construction</div>
    <div id="top_menu_tel">Sales Helpline&nbsp;:&nbsp;<strong>0123 54698712</strong></div> #}

        <div id="top_menu_tel">write to us at:&nbsp;&nbsp; info@getwork.construction</div>
        <div class="tbuttons"><a href="/login" class="lg">Login</a>

        <a href="/register" class="rg">Register</a>
  </div>
    </div>

    </div>
<nav id="menu-1" class="mega-menu fa-change-black" data-color=""> 
    <div class="container">
    <section class="menu-list-items"> 
        <ul class="menu-logo">
            <li> <a href="/"> <img src="../../images/getworklogo.png" alt="logo" class="img-responsive"> </a> </li>
        </ul>
        <ul class="menu-links pull-right">
            <li> <a href="/"> Home </a></li>
            <li> <a href="/home/blogs"> Blogs </a></li>
            <li><a href="javascript:void(0)"> Courses <i class="fa fa-angle-down fa-indicator"></i></a> 
                <ul class="drop-down-multilevel">
                    <li><a href="/home/courses">Find Courses</a></li>
                    <li><a href="/login">Add Course</a></li>
                    
                </ul>
            </li>
            <li><a href="javascript:void(0)"> Jobs <i class="fa fa-angle-down fa-indicator"></i></a> 
                <ul class="drop-down-multilevel">
                    <li><a href="/home/jobs">Find jobs</a></li>
                    <li><a href="/home/categories">Job categories</a></li>
                    <li><a href="/home/companies">All companies</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"> Candidates <i class="fa fa-angle-down fa-indicator"></i></a> 
                <ul class="drop-down-multilevel">
                    <li><a href="/home/candidates">Search Candidates</a></li>
                    {# <li><a href="/login">Candidate Dashboard</a></li> #}
                    {# <li><a href="/home/candidates">All Candidates</a></li> #}
                </ul>
            </li>
            <li><a href="javascript:void(0)"> Employers <i class="fa fa-angle-down fa-indicator"></i></a> 
                <ul class="drop-down-multilevel">
                    <li><a href="/home/companies">All companies</a></li>
                    <li><a href="/login">Post a Job</a></li>
                    <li><a href="/home/candidates">Find CV</a></li>
                    {# <li><a href="/login">Dashboard</a></li> #}
                </ul>
            </li>
            <li> <a href="/home/contactus"> Contact </a></li>
            <li class="no-bg"><a href="/login" class="p-job"><i class="fa fa-plus-square"></i> Post a Job</a></li>
            {# <li class="no-bg login-btn-no-bg"><a href="/login" class="login-header-btn"><i class="fa fa-sign-in"></i> Log in</a>
            <li class="no-bg"><a href="/register" class="p-job"><i class="fa fa-user-plus"></i> Register</a></li> </li>#}
        </ul>
    </section>
</div>
</nav>

<div class="clearfix"></div>