{% extends "index.twig" %}
{% block content %}
{% block metatags %}
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="By using this website, you consent to the collection and use of information in accordance with this privacy policy.">
    <meta name="author" content="GetWork">
{% endblock %}
{% block title %}
    <title>Getwork.Construction - privacy policy | Construction  | Railway jobs</title>
{% endblock %}

<section class="contact-us light-grey">
                <div class="Privacy Policies"><h1>Privacy Policies</h1></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="Heading-title black privacy">
                            
                            <p>This privacy policy applies only to this website www.getwork.construction. 
                            www.getwork.construction is operated by SSK Business Services Limited ("we", "our", or "us"). We are registered in England & Wales Registration Number 08341344 our registered office is at 246 Green Lane Walsall WS2 8HS.
                            It is recommended to re-visit this privacy policy regularly for changes. If we do make changes to this privacy policy, we will post the revised privacy policy here with an updated effective date. If we make significant changes to the privacy policy, we may also notify you by other means such as sending an email or posting a notice on our home page. By using this website, you consent to the collection and use of information in accordance with this privacy policy.</p>
                         
                        </div>
                    </div>

                    
                                <!--terms and conditions-->
                                
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                          {# <div class="col-md-2 col-sm-2 col-xs-12">
                            </div>  #}

                        <div class="col-md-12 col-sm-12 col-xs-12 privacyacc">
                            <div class="panel-group drop-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading tab-collapsed" role="tab" id="headingOne">
                                        <h4 class="panel-title trms"> <a class="collapse-controle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <h3>Collection of Personal Information</h3> <span class="expand-icon-wrap"><i class="fa expand-icon"></i></span> </a> </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                                        <div class="panel-body">
                                            <p> We gather personal information from you (name, address, telephone number, email address etc.) when you fill in registration forms, submit comments to the website, use message boards, blogs or send us e-mails. We also use information from your CV. (If you do not wish us to use this personal information, please do not send us your CV) your social media, your current employers’ website or information taken from the press. </p>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title trms"> <a class="collapse-controle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><h3>Collection of Other Information</h3><span class="expand-icon-wrap"><i class="fa expand-icon"></i></span> </a> </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>In addition to the above personal information, we may collect information about you automatically when you visit our website, via the use of cookies and web beacons. We can monitor traffic via a web beacon, which is a small graphic image on a web page. A cookie is a small text file placed on your computer's hard drive by your web browser. Neither cookies or web beacons provide personal information they just allow us to identify your computer settings, how you connect to the internet, your type of browser, your IP Address, time spent on the site, your location etc. Internet browsers accept cookies automatically, but you can prevent automatic acceptance of cookies via your browser if you prefer. If you choose not to receive cookies, some features of the site may not function, such as logging in etc.</p>
                                                
                                     </div>
                                            
                                  </div>
                                  
                                </div>

                                
                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title trms"> <a class="collapsed collapse-controle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <h3>Use of Your Information</h3> <span class="expand-icon-wrap"><i class="fa expand-icon"></i></span> </a> </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>By using this Site, you agree that we may collect, hold, process and use your information for the purpose of providing you with the Site services and developing our business. We may supply your personal information to selected third parties so that they may contact you with information and offers which could be of interest to you. You can ask us not to contact you with information regarding our products and services or not to share details with third parties either at the point such information is collected on the Site (by checking the relevant box) or, by following the unsubscribe instructions on any emails that we send to you. You can also email or post a request to us at our address below.</p>
                                                
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingfour">
                                        <h4 class="panel-title trms"> <a class="collapse-controle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour"><h3>Why do we need your information?</h3> <span class="expand-icon-wrap"><i class="fa expand-icon"></i></span> </a> </h4>
                                    </div>
                                    <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour" aria-expanded="false">
                                        <div class="panel-body">
                                            <p><b>For Marketing purposes, we like to keep you informed of the following;</b></p>
                                            <p><ul>
                                                <li>Information about the latest changes to the website, products, services or promotional offers.</li>
                                                <li>Customer service and support;</li>
                                                <li>Conducting market research; </li>
                                                <li>Communicating and personalising such communications with you</li>
                                                <li>Enabling you to share our content with others e.g. using an ‘Email a friend’ or ‘Share this’ </li>
                                                <li>Functionality, improve the layout and/or content of pages</li>
                                                 </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       


    <div class="col-md-2 col-sm-2 col-xs-12">
                            </div> 





                    </div>
                </div>
            </div>

                                
                              
                                
                         







                                <!--end rterms and conditions-->
                                
                          
                         
                        
                    </div>
                </div>
           
        </section>
        
       
       



















{% endblock %}